h1 {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20%;
}

button {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
  margin-top: 20px;
  height: 50px;
  width: 20%;
  font-size: large;
  color: rgb(58, 34, 1);
  background: linear-gradient(rgba(179, 0, 255, 0.574), yellow, rgb(149, 0, 255));
  cursor: pointer;
  border-radius: 30px;
  border-color: rgb(85, 1, 1);
}



#body {
  background: linear-gradient(rgb(255, 200, 0), red, rebeccapurple);
  height: 500px;
  width: 50%;
  /* margin-top: 160px;
  margin-left: 100px;
  margin-right: 100px; */
  margin: 120px 290px 100px;
  border-width: 12px;
  border-radius: 70px;

}

.restart {


  align-items: left;
  background: linear-gradient(rgb(179, 0, 255), yellow, rgb(255, 213, 0));
  border-color: rgb(32, 2, 2);
  color: #6d0202;
  cursor: pointer;
}

.hero {
  background: linear-gradient(rgba(255, 255, 255, 0.772), red, rgba(255, 255, 255, 0.359), orange, yellow, rgba(255, 255, 255, 0.473));
  color: rgb(124, 6, 97)
}

.counter {
  color: rgb(66, 21, 0);
  border-width: 2%;
}